<div class="row" *ngIf="consume$ | async as consume">
    <div class="col-6 offset-3">
        <form (ngSubmit)="onUpdate(consume)">
            <div class="form-group">
                <label for="">User</label>
                <input name="user" [(ngModel)]="consume.user" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Type</label>
                <input name="type" [(ngModel)]="consume.type" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Time</label>
                <input name="timeStamp" [(ngModel)]="consume.date" type="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Payed</label>
                <select 
                    name="payed" 
                    [(ngModel)]="consume.payed"
                    class="form-select">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-3">
                <i class="fa fa-save"></i> update
            </button>
        </form>
        {{ consume | json }}
    </div>
</div>

