input.ng-invalid {
    background-color: rgb(242, 138, 138);
}

.error-message {
    color: red;
    font-style: italic;
    font-size: 0.8em;
    &.error-hidden {
        visibility: hidden;
    }
}
