<ul class="list-group position-relative">
    <li *ngFor="let consume of consumeList$ | async" class="list-group-item" [class.bg-warning]="!consume.payed">
        <i class="fa fa-coffee"></i>
        {{ consume.type }} -
        {{ getWeekDayName(consume.timeStamp) }}
        {{ getFormattedDate(consume.timeStamp) }}
        <div class="btn-group" style="float: right">
            <button [routerLink]="['/admin/consume/edit', consume.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
            </button>
            <button (click)="onRemoveConsume(consume)"  class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </li>
  </ul>
